<div class="container">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
    <button type="button" class="btn btn-outline-primary" (click)="displayContacts()">List Contact</button>
    <button type="button" class="btn btn-outline-primary"(click)="displayAddContact();">Add Contact</button>
  </span>
  </nav>
</div>
<div class="container" *ngIf="1 == ctService.display">
  <app-contact *ngFor="let c of contacts; let i = index" [contact]='c' [index]='i'
  (editEvent) = "editContact($event)"
  ></app-contact>
</div>
<div class="container" *ngIf="2 == ctService.display">
  <app-add-contact></app-add-contact>
</div>
<div class="container" *ngIf="3 == ctService.display">
  <app-edit-contact [contactIndex]="editContactIndex"></app-edit-contact>
</div>